<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <title>Химические уравнения</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
          crossorigin="anonymous">
</head>
<body>
<div class="card">
    <div class="card-header">
        Add new task
    </div>

    <div class="container-fluid col-md-3 text-center">
        <br>
        <form id="formAddNewTask">
            <div class="form-group">
                <label for="taskId">Task ID</label>
                <input type="text"  class="form-control" id="taskId" th:value="0" name="taskId" readonly>
            </div>

            <div class="form-group">
                <label for="chapterId">Глава:</label>
                <input type="number" class="form-control" id="chapterId" name="chapterId"  placeholder="Enter Chapter Id">
            </div>

            <div class="form-group">
                <label for="referenceId">Раздел:</label>
                <input type="number" class="form-control" id="referenceId" name="referenceId"  placeholder="Enter Reference Id">
            </div>

            <div class="form-group">
                <label for="description">Описание задания:</label>
                <textarea rows="5" class="form-control" id="description" name="description"  placeholder="Enter description"></textarea>
            </div>

            <div class="form-group">
                <label for="rightAnswer">Правильный ответ:</label>
                <input type="text" class="form-control" id="rightAnswer" name="rightAnswer" placeholder="Enter Right Answer">
            </div>

            <button type="button" class="btn btn-success" id="btnNewTask">Add new Task</button>
        </form>
        <br>
    <a class="btn btn-success" th:href="@{/equations/v.1.0/view}">К задачам</a>
    </div>


<!--libraries-->
<div>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script type="text/javascript" src="/tasks-chemequations-application/js/newTask.js"></script>
</div>
</body>
</html>